extends layout
block content
   h1 #{title}
   form(method='POST', action='/article/add', autocomplete='off')
      #form-group
         label Title:
         input.form-control(name='title', type='text')
      #form-group
         label Author:
         input.form-control(name='author', type='text')
      #form-group
         label Body:
         textarea.form-control(name='body')
      br
      input.btn(type='submit', value='Submit')
   br
   a(href='/') Show Articles