doctype
html
   head
      title KnowledgeBase
      link(rel='stylesheet' href='../styles.css')
   body
      .container
         block content
         br
         hr
         footer
         p Copyright &copy; 2020
         
   script(src="https://code.jquery.com/jquery-3.4.1.min.js")
   script(src="/js/main.js")
